.vscode/launch.json
wtf-debug.ps1
native/x64/Debug/vc143.idb
native/x64/Debug/vc143.pdb
native/x64/Debug/wfp.Build.CppClean.log
native/x64/Debug/wfp.exe
native/x64/Debug/wfp.exe.recipe
native/x64/Debug/wfp.ilk
native/x64/Debug/wfp.log
native/x64/Debug/wfp.obj
native/x64/Debug/wfp.pdb
native/x64/Debug/wfp.vcxproj.FileListAbsolute.txt
native/x64/Debug/wfp.tlog/CL.command.1.tlog
native/x64/Debug/wfp.tlog/Cl.items.tlog
native/x64/Debug/wfp.tlog/CL.read.1.tlog
native/x64/Debug/wfp.tlog/CL.write.1.tlog
native/x64/Debug/wfp.tlog/link.command.1.tlog
native/x64/Debug/wfp.tlog/link.read.1.tlog
native/x64/Debug/wfp.tlog/link.write.1.tlog
native/x64/Debug/wfp.tlog/wfp.lastbuildstate
native/x64/Release/vc143.pdb
native/x64/Release/wfp.Build.CppClean.log
native/x64/Release/wfp.exe
native/x64/Release/wfp.exe.recipe
native/x64/Release/wfp.iobj
native/x64/Release/wfp.ipdb
native/x64/Release/wfp.log
native/x64/Release/wfp.obj
native/x64/Release/wfp.pdb
native/x64/Release/wfp.vcxproj.FileListAbsolute.txt
native/x64/Release/wfp.tlog/CL.command.1.tlog
native/x64/Release/wfp.tlog/Cl.items.tlog
native/x64/Release/wfp.tlog/CL.read.1.tlog
native/x64/Release/wfp.tlog/CL.write.1.tlog
native/x64/Release/wfp.tlog/link.command.1.tlog
native/x64/Release/wfp.tlog/link.read.1.tlog
native/x64/Release/wfp.tlog/link.write.1.tlog
native/x64/Release/wfp.tlog/link.write.2u.tlog
native/x64/Release/wfp.tlog/wfp.lastbuildstate
native/.vs/wfp/FileContentIndex/1ea7c8ef-a6e3-48ce-ad7d-cfd2e4521f0c.vsidx
native/.vs/wfp/v17/.suo
native/.vs/wfp/v17/Browse.VC.db
native/.vs/wfp/v17/Browse.VC.db-shm
native/.vs/wfp/v17/Browse.VC.db-wal
native/.vs/wfp/v17/Browse.VC.opendb
native/.vs/wfp/v17/ipch/AutoPCH/6a893ca213c7b4d3/WFP.ipch
native/.vs/wfp/v17/ipch/AutoPCH/a44b87551f39ffc5/WFP.ipch
